<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm-5 form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" type="text" #nameInput/>
      </div>

      <div class="col-sm-2 form-group">
        <label for="amount">Amount</label>
        <input id="amount" class="form-control" type="number" #amountInput />
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-success" (click)="onIngredientAdd()" >Add</button>
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-primary">Cancel</button>
      </div>
    </div>
  </div>
</div>
